.videos {
    display: inline-block;
}

#adjustments{
    display: inline-block;
    position: absolute;
    bottom: auto;
    margin-left: 10px;
}

input {
    margin-top: 10px;
}

#contrastC {
    width: 40px;
    text-align: center;
}

#cssmenu ul{
    z-index: 1;
}